<h1><a href="<%= url_for(@post) %>"><%= @post.title %></a></h1>
<%= render :partial => "post" %>

<% @post.comments.each do |comment| %>
<div class="comment">
	<% if not comment.url.blank? %>
	<h2><%= comment.created_at.strftime("%a %b %dth at %H:%M") %>, <a href="<%= comment.url %>"><%= comment.name %></a> said:</h2>
	<% else %>
	<h2><%= comment.created_at.strftime("%a %b %dth at %H:%M") %>, <%= comment.name %> said:</h2>
	<% end %>
	
	<%= textilize comment.body %>
</div>
<% end %>

<% form_for :comment, @post.comments.new do |f| %>
	<p>
		<label for="comment_name">Name:</label>
		<%= f.text_field :name, {:style => "width: 330px;"} %>
	</p>
	
	<p>
		<label for="comment_email">E-mail:</label>
		<%= f.text_field :email, {:style => "width: 330px;"} %>
	</p>

	<p>
		<label for="comment_url">Homepage:</label>
		<%= f.text_field :url, {:style => "width: 330px;"} %>
	</p>

	<p>
		<label for="comment_body">Your comment:</label>
		<%= f.text_area :body, {:rows => 8, :style => "width: 330px;"} %>
	</p>
	
	<p style="margin-left: 120px; padding-left: 1em">
		<%= f.submit "Create" %>
	</p>
<% end %>