<h1><a href="<%= url_for(@post) %>"><%= @post.title %></a></h1>
<%= render :partial => "post" %>

<% @post.comments.each do |comment| %>
	<h2>comment by <%= comment.name %> at <%= comment.created_at.to_formatted_s %></h2>
	<%= textilize comment.body %>
<% end %>

<% form_for :comment, @post.comments.new do |f| %>
	<p>
		<b>Name:</b><br />
		<%= f.text_field :name %>
	</p>
	
	<p>
		<b>E-mail:</b><br />
		<%= f.text_field :email %>
	</p>

	<p>
		<b>Homepage:</b><br />
		<%= f.text_field :url %>
	</p>

	<p>
		<b>Comment:</b><br />
		<%= f.text_area :body %>
	</p>
	
	<p>
		<%= f.submit "Create" %>
	</p>
<% end %>