<h1>New post</h1>

<%= error_messages_for :post %>

<% form_for(@post, :url => {:action => 'new'}) do |f| %>

	<% @files.each do |i| %>
		<label for="post_photo"><img src="/db/<%= i %>" width="100" /></label>
		<%= f.radio_button "photo", i %>
	<% end %>
	
	<p>
		<%= f.submit "Create" %>
	</p>

<% end %>

<%= link_to 'Back', posts_path %>
