<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
	<title>Marten Veldthuis <%= "&mdash; ‘#{@title}’" if @title %></title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link href="/stylesheets/reset.css"  media="screen" rel="Stylesheet" type="text/css" />
	<link href="/stylesheets/screen.css" media="screen" rel="Stylesheet" type="text/css" />
	<script src="/javascripts/application.js" type="text/javascript"></script>
	<link rel="alternate" type="application/rss+xml" title="RSS Feed for petefreitag.com" href="/posts.rss" />
</head>

<body><div id="wrap">
	<div id="masthead">
		<ul><% @menu.each do |url,title,option| -%>
			<% if url %>
			<li style="<%= 'font-weight: bold;' if option == :selected %>
			           <%= 'padding: 0 4px;' if option == :tight %>"><a href="<%= url %>"><%= title %></a></li>
			<% else %>
			<li style="<%= 'font-weight: bold;' if option == :selected %>
			           <%= 'padding: 0 4px;' if option == :tight %>"><%= title %></li>
			<% end %>
		<% end %></ul>
	</div>

	<div id="mastbody">
		<%= @content_for_layout %>
	</div>
	
	<div id="mastfoot">
	    Marten Veldthuis © 2005-2008 • all rights reserved, <a href="mailto:marten@veldthuis.com">contact</a> for usage permissions and larger sizes.
	</div>

</div></body>
</html>